/********** Base styles **********/
* {
box-sizing: border-box;
font-family: Helvetica;
font-size: 20px;
margin: 0;
padding: 0;
}

body {
  background-color: rgb(30, 159, 210);
}

h1 {
margin-bottom: 15px;
text-align: center;
padding-top: 10%;
font-size: 1.75em;
}

.container {
    position: relative;
    top: 60px;
}

.inner {
  background-color: #8b8787;
  margin: 10px;
  border: 3px solid black;
}

h3 {
    border: 1px solid black;
    position: relative;
    text-align: center;
    font-size: 1.25em;
    right: -70%;
    width: 30%;
    height: 30px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 0;
}

#Chicken {
    background-color: #e08ea7;
}

#Beef {
    background-color: #eb946c;
}

#Sushi {
    background-color: #eea2af;
}

p {
width: 90%;
height: 190px;
margin: 0;
padding-left: 5%;
padding-right: 5%;
margin-right: auto;
margin-left: auto;
color: black;
}

  /********** Medium devices only **********/
  @media (min-width: 992px) {
    .col-md-4{
      float: left;
      width: 33.33%;
    }
  }

  /********** Small devices only **********/
  @media (min-width: 768px) and (max-width: 991px) {
    .col-sm-6, .col-sm-12 {
      float: left;
    }
      .col-sm-6 {
        width: 50%;
      }
      .col-sm-12 {
        width: 100%;
      }
  }

  /********** Extra Small devices only **********/
  @media (max-width: 767px) {
    .col-xs-12 {
      float: left;
      width: 100%;
    }
  }  

  @media (min-width: 991px) and (max-width: 1089px) {
    *{
      font-size: 18px;
    }
  }